pkgbase = mingw-w64-ffmpeg-zeranoe
	pkgdesc = Complete solution to record, convert and stream audio and video (mingw-w64, binary zeranoe build)
	pkgver = 4.2.1
	pkgrel = 1
	epoch = 1
	url = http://ffmpeg.org/
	arch = any
	license = GPL3
	depends = mingw-w64-crt
	provides = mingw-w64-ffmpeg
	conflicts = mingw-w64-ffmpeg
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://ffmpeg.zeranoe.com/builds/win32/dev/ffmpeg-4.2.1-win32-dev.zip
	source = https://ffmpeg.zeranoe.com/builds/win32/shared/ffmpeg-4.2.1-win32-shared.zip
	source = https://ffmpeg.zeranoe.com/builds/win64/dev/ffmpeg-4.2.1-win64-dev.zip
	source = https://ffmpeg.zeranoe.com/builds/win64/shared/ffmpeg-4.2.1-win64-shared.zip
	sha256sums = c3469e6c5f031cbcc8cba88dee92d6548c5c6b6ff14f4097f18f72a92d0d70c4
	sha256sums = 9208255f409410d95147151d7e829b5699bf8d91bfe1e81c3f470f47c2fa66d2
	sha256sums = 5af393be5f25c0a71aa29efce768e477c35347f7f8e0d9696767d5b9d405b74e
	sha256sums = 55063d3cf750a75485c7bf196031773d81a1b25d0980c7db48ecfc7701a42331

pkgname = mingw-w64-ffmpeg-zeranoe

