pkgbase = mingw-w64-ffmpeg-zeranoe
	pkgdesc = Complete solution to record, convert and stream audio and video (mingw-w64, binary zeranoe build)
	pkgver = 4.2.3
	pkgrel = 1
	epoch = 1
	url = http://ffmpeg.org/
	arch = any
	license = GPL3
	depends = mingw-w64-crt
	provides = mingw-w64-ffmpeg
	conflicts = mingw-w64-ffmpeg
	options = !strip
	options = !buildflags
	options = staticlibs
	source = https://ffmpeg.zeranoe.com/builds/win32/dev/ffmpeg-4.2.3-win32-dev.zip
	source = https://ffmpeg.zeranoe.com/builds/win32/shared/ffmpeg-4.2.3-win32-shared.zip
	source = https://ffmpeg.zeranoe.com/builds/win64/dev/ffmpeg-4.2.3-win64-dev.zip
	source = https://ffmpeg.zeranoe.com/builds/win64/shared/ffmpeg-4.2.3-win64-shared.zip
	sha256sums = 1b887a54b51aa69eecbfdc55d90f590eff48d747c85167a49eb3aa87d1bc2b27
	sha256sums = 3e628576f77af78399e6a3c1de6b05f1a0de7332e496350e8396c46deb292fb4
	sha256sums = ce59245b32d3ef6fe74b48634ef4d05e8d7efa08fe21e1de5602ed42c2bfed02
	sha256sums = f21e519746112a9ae183bff50372286859b085ff6416cb68a8e418801555dc0b

pkgname = mingw-w64-ffmpeg-zeranoe

